<% provide(:title, 'Home') %>
<h1>SwahiliChef Home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<div class="center hero-unit">
	<h1>Welcome to the SwahiliChef</h1>

	<h2>
		This is the home page for the
		<a href="http://SwahiliChef.com">SwahiliChef,com</a>
		Web application
					  <div class="control-group">
							  <div class="controls">
							    <div class="input-prepend">
							      <span class="add-on"><i class="icon-search"></i></span>
							      <input class="span2" id="inputIcon" type="text">
							    </div>
							  </div>
							</div>
					</form>
	</h2>
	
</div>